name: Test Full Flow

on:
  workflow_dispatch:

jobs:
  test-internal:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Test Internal
        uses: ./
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          spreadsheet-id: "1dvGo3BzUv6Uz4dHE6WSgGU9eViOEMg1rqFLrK7Lwe5M"
          google-credentials: ${{ secrets.GOOGLE_CREDENTIALS }}
          app: "Web"
          environment: "internal"
          version: "#20250615.12345.0"
          jira-tickets: "ADV-100,ADV-101"

  test-stage:
    needs: test-internal
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Test Stage
        uses: ./
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          spreadsheet-id: "1dvGo3BzUv6Uz4dHE6WSgGU9eViOEMg1rqFLrK7Lwe5M"
          google-credentials: ${{ secrets.GOOGLE_CREDENTIALS }}
          app: "Web"
          environment: "stage"
          jira-tickets: "ADV-100,ADV-101"

  test-production:
    needs: test-stage
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Test Production
        uses: ./
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          spreadsheet-id: "1dvGo3BzUv6Uz4dHE6WSgGU9eViOEMg1rqFLrK7Lwe5M"
          google-credentials: ${{ secrets.GOOGLE_CREDENTIALS }}
          app: "Web"
          environment: "production"
          jira-tickets: "ADV-100,ADV-101"