name: Test Action

on:
  workflow_dispatch:

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Sync PRs to Sheet
        uses: ./
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          spreadsheet-id: "YOUR_SPREADSHEET_ID"
          google-credentials: ${{ secrets.GOOGLE_CREDENTIALS }}
          app: "my-app"
          environment: "internal"
          sheet-name: "Next"